.env
venv
__pycache__
utils/__pycache__
node_modules/
.DS_Store
frontend/node_modules/
backend/__pycache__
backend/venv/
backend/.env
google-credentials.json
auth/node_modules
auth/.env
frontend/.env
